* {
  margin: 0;
  padding: 0;
}

body {
  width: 960px;
  height: 960px;
}

#container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#row {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  width: 500%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}